nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 41.5%;display: flex;
    bottom: 0.3rem;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    padding:0 0.5rem;
    font-size: 1.1rem;
    border-radius: 50%;
}
nav a :hover{
    background: rgba(0, 0, 0, 0.3);
}